/** @format */

.signup-form-box {
  border: 1px solid slategrey;
  border-radius: 1rem;

  form {
    width: 100%;
    padding: 2rem;

    label {
      font-size: 0.8rem;
      font-weight: 600;
      text-transform: capitalize;
    }
    .sn-input {
      width: 100%;
      text-transform: capitalize;
      border-radius: 1rem;
      border: 1px solid slategray;
      margin-bottom: 0.5rem;
      padding: 0.4rem;
    }
    .check-box-div {
      width: 100%;
      font-size: 1rem;

      padding: 0.4rem;
      border-radius: 1rem;
      border: 1px solid slategray;
      outline: none;
      margin-bottom: 0.5rem;
      padding: 0.5rem;

      .check-box {
        font-size: 1rem;
        margin: 1rem;
      }
      .admin-label {
        padding-left: 1rem;
        font-size: 0.8rem;
        font-weight: 100;
        color: slategray;
      }
    }
  }
}
